<a href="https://colab.research.google.com/github/deejacruz/factor-analysis/blob/master/ToTestThings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df1 = pd.DataFrame(np.random.randint(1, 4, size=(357, 10)), columns=['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10'])

df2 = pd.DataFrame(np.random.randint(1, 5, size=(357, 6)), columns=['Q11','Q12','Q13','Q14','Q15','Q16'])

df3 = pd.DataFrame(np.random.randint(1, 5, size=(357, 14)), columns=['Q17','Q18','Q19','Q20','Q21','Q22','Q23','Q24','Q25','Q26','Q27','Q28','Q29','Q30'])

dfa = pd.concat([df1, df2, df3], axis=1)

In [0]:
df4 = pd.DataFrame(np.random.randint(1, 6, size=(2084, 10)), columns=['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10'])

df5 = pd.DataFrame(np.random.randint(1, 6, size=(2084, 6)), columns=['Q11','Q12','Q13','Q14','Q15','Q16'])

df6 = pd.DataFrame(np.random.randint(1, 6, size=(2084, 14)), columns=['Q17','Q18','Q19','Q20','Q21','Q22','Q23','Q24','Q25','Q26','Q27','Q28','Q29','Q30'])

dfb = pd.concat([df4, df5, df6], axis=1)

In [0]:
df7 = pd.DataFrame(np.random.randint(2, 6, size=(721, 10)), columns=['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10'])

df8 = pd.DataFrame(np.random.randint(2, 6, size=(721, 6)), columns=['Q11','Q12','Q13','Q14','Q15','Q16'])

df9 = pd.DataFrame(np.random.randint(3, 6, size=(721, 14)), columns=['Q17','Q18','Q19','Q20','Q21','Q22','Q23','Q24','Q25','Q26','Q27','Q28','Q29','Q30'])

dfc = pd.concat([df7, df8, df9], axis=1)

In [0]:
df = pd.concat([dfa, dfb, dfc], axis=0)

In [84]:
df.head(5)

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  ...  Q23  Q24  Q25  Q26  Q27  Q28  Q29  Q30
0   2   2   2   1   2   1   2   2  ...    2    1    3    1    3    1    3    2
1   2   3   3   3   1   2   2   2  ...    3    4    2    3    1    2    2    3
2   3   2   1   1   2   1   3   1  ...    2    4    3    1    3    3    4    3
3   2   1   2   1   1   1   2   3  ...    4    2    4    2    4    3    3    3
4   3   1   1   2   1   3   1   2  ...    1    2    3    4    4    2    3    4

[5 rows x 30 columns]

In [85]:
df.shape

(3162, 30)

In [0]:
from sklearn.decomposition import FactorAnalysis
import matplotlib.pyplot as plt

In [0]:
!pip install -q factor_analyzer

In [0]:
from factor_analyzer import FactorAnalyzer

In [89]:
# Bartlett’s test of sphericity checks whether or not the observed variables intercorrelate at all using the observed correlation matrix against the identity matrix. 
# If the test found statistically insignificant, you should not employ a factor analysis.

from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value, p_value

(5377.566363193001, 0.0)

In [90]:
# Kaiser-Meyer-Olkin (KMO) Test measures the suitability of data for factor analysis. 
# It determines the adequacy for each observed variable and for the complete model. 
# KMO estimates the proportion of variance among all the observed variable. 
# Lower proportion id more suitable for factor analysis. 
# KMO values range between 0 and 1. 
# Value of KMO less than 0.6 is considered inadequate.

from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all,kmo_model=calculate_kmo(df)
kmo_model

0.8913891224121371

In [0]:
# yay it works now; sig p-value AND adequate KMO value.