<a href="https://colab.research.google.com/github/deejacruz/factor-analysis/blob/master/ToTestThings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df1 = pd.DataFrame(np.random.randint(1, 6, size=(20000, 10)), columns=['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10'])

df2 = pd.DataFrame(np.random.randint(1, 6, size=(20000, 6)), columns=['Q11','Q12','Q13','Q14','Q15','Q16'])

df3 = pd.DataFrame(np.random.randint(1, 6, size=(20000, 14)), columns=['Q17','Q18','Q19','Q20','Q21','Q22','Q23','Q24','Q25','Q26','Q27','Q28','Q29','Q30'])

df = pd.concat([df1, df2, df3], axis=1)

In [15]:
df.head(5)

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  ...  Q23  Q24  Q25  Q26  Q27  Q28  Q29  Q30
0   3   1   3   5   2   2   4   4  ...    4    5    3    5    2    5    1    2
1   2   2   2   4   3   1   2   1  ...    3    1    3    4    1    1    4    4
2   3   4   4   1   5   5   5   3  ...    5    1    2    5    3    3    4    4
3   2   2   2   4   1   4   3   5  ...    2    1    1    3    2    1    5    4
4   5   5   3   4   2   3   3   3  ...    3    2    2    3    3    5    3    4

[5 rows x 30 columns]

In [16]:
df.shape

(20000, 30)

In [0]:
from sklearn.decomposition import FactorAnalysis
import matplotlib.pyplot as plt

In [0]:
!pip install -q factor_analyzer

In [0]:
from factor_analyzer import FactorAnalyzer

In [20]:
# Bartlettâ€™s test of sphericity checks whether or not the observed variables intercorrelate at all using the observed correlation matrix against the identity matrix. 
# If the test found statistically insignificant, you should not employ a factor analysis.

from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value, p_value

(492.86857988643527, 0.002033984996937688)

In [21]:
# Kaiser-Meyer-Olkin (KMO) Test measures the suitability of data for factor analysis. 
# It determines the adequacy for each observed variable and for the complete model. 
# KMO estimates the proportion of variance among all the observed variable. 
# Lower proportion id more suitable for factor analysis. 
# KMO values range between 0 and 1. 
# Value of KMO less than 0.6 is considered inadequate.

from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all,kmo_model=calculate_kmo(df)
kmo_model

0.4996829968638858

In [0]:
# cannot seem to get the KMO value above 0.5 or so... to be continued.